{%
  set classes = [
    'node',
    'partner-teaser',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<div{{ attributes.addClass(classes) }}>

    {{ title_prefix }}
    {{ title_suffix }}

    {% if content.field_link.0 %}
        <a href="{{ content.field_link.0['#url'].getUri() }}" class="partner-teaser-link" target="_blank" rel="nofollow">
    {% endif %}
    <div class="row">
        <div class="col-lg-4 col-xs-12 col-12">
            {{ content.field_image }}
        </div>
        <div class="col-lg-8 col-xs-12 col-12">
            <div class="partner-title">
                {{ label }}
            </div>
            {{ content.field_short }}
        </div>
    </div>
    {% if content.field_link.0 %}
      </a>
  {% endif %}

</div>
