{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
  <div class="big-title">
    {{ label }}
  </div>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div class="container">
      {{ content }}
    </div>
  {% endblock %}
  <div class="more-reviews">
    <a href="/otziv" class="btn btn--main btn--big">
      Все отзывы
    </a>
  </div>
</div>
