{#
.col-xs- <544px Extra small
.col-sm- ≥544px Small 576px
.col-md- ≥768px Medium 720px
.col-lg- ≥992px Large 940px
.col-xl- ≥1200px Extra large 1140px
Gutter width	1.875rem / 30px (15px on each side of a column)
#}
{{ attach_library('adaptive/adaptive.faicons') }}
{{ attach_library('adaptive/adaptive.layout') }}
{{ attach_library('adaptive/adaptive.theme') }}
{{ attach_library('adaptive/adaptive.base') }}
<div class="lp lp-color-{{ theme }}">
  <div class="page-wrapper">
    <header id="header" class="custom-messages" role="banner">
      <section id="header-info" class='collapse'>
        <div class="header-info__inner">
          <div class="container">
            <div class="row">
              <div class="offset-sm-3 col-sm-6">
                {{ page.header }}
                <div class="header-info-phones">
                  {%
                    set phones = company.phone|raw
                  %}
                  {%
                    set phones_array = phones|split(',')
                  %}
                  {% for phone in phones_array %}
                      {% if loop.last %}
                        <div class="header-info-phones__item">{{ phone }}</div>
                        {% else %}
                        <div class="header-info-phones__item">{{ phone }},</div>
                      {% endif %}
                   {% endfor %}
                </div>
                {{ forms.callback2 }}
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="header-small" class="hidden-lg-up">
        <div class="header-small__inner">
          <div class="container">
            <div class="logo logo-small pull-left">
              <a href="/" title="Главная" rel="home" id="logo" class="logo">
                {{ company.logo|raw }}
                {% if show_logo_names %}
                  <span class="logo-text__name">
                    {{ company.name|raw }}
                  </span>
                {% endif %}
              </a>
            </div>
            {% include directory ~ '/templates/layout/nav-togglers.html' %}
          </div>
        </div>
        <div id="small-menu" class="container collapse">
          <div class="small-menu__inner">
            {{ page.menu_small }}
          </div>
        </div>
      </section>
      <section id="header-full" class="hidden-md-down">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-md-4">
              <a href="/" class="logo">
                {{ company.logo|raw }}
                {% if show_logo_names %}
                  <span class="logo-text">
                    <span class="logo-text__name">
                      {{ company.name|raw }}
                    </span>
                    <span class="logo-text__slogan">
                      {{ company.slogan|raw }}
                    </span>
                  </span>
              {% endif %}
              </a>
            </div>
            <div class="col-xl-4 col-md-5 text-md-center">
              {{ page.menu_main }}
            </div>
            <div class="col-xl-4 col-md-3 text-md-right">
              <div class="header-phone">
                {% for phone in phones_array %}
                    {% if loop.last %}
                      <span class="header-phone__item">{{ phone }}</span>
                      {% else %}
                      <span class="header-phone__item">{{ phone }}</span>,
                    {% endif %}
                 {% endfor %}
              </div>
              <button href="#" type="button" class="btn btn--main" data-toggle="modal" data-target="#block-adaptive-form-callme">
                Заказать звонок
              </button>
            </div>
          </div>
        </div>
      </section>
    </header>

    <section id="sys">
      <div class="container">
        <div class="row">
          <div class="height-0 col-md-12">
            {{ page.tabs }}
            {{ page.messages }}
          </div>
        </div>
      </div>
    </section>
    {% if lp %}
      {{ page.content }}
    {% else %}
    <section id="main">
      <div class="container">
        <div class="row" id="main-content">
          {% set main_class = 'col-md-12' %}
          {% if page.sidebar|render %}
             {% set main_class = 'col-md-8' %}
             <div class="col-md-4" id="sidebar">
               {{ page.sidebar }}
             </div>
          {% endif %}
          <div class="{{ main_class }}" id="content-area">
            {{ page.breadcrumb }}
            {{ page.title }}
            {{ page.content }}
          </div>
        </div>
      </div>
    </section>
    {% endif %}
    <section id="contacts">
      <div class="big-title">
          Контакты
      </div>
      <div class="contacts__inner">
        <div class="container">
            <div class="col-lg-4 offset-lg-4 col-xs-12">
                {{ company.contact|raw }}
            </div>
        </div>
      </div>
    </section>
    {% if page.order|render %}
    <section id="order" class="padding-bottom-70 padding-top-40 text-center">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-lg-6 col-md-6 offset-lg-3 offset-md-3">
            <h2 class="text-center padding-bottom-30">Свяжитесь с нами</h2>
            {{ company.contact|raw }}
            <br><br>
            <h4>Отправьте сообщение</h4>
            {{ page.order }}
          </div>
        </div>
      </div>
    </section>
    {% endif %}
    <footer class="footer footer--services">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-4 text-md-left text-xs-center">
            <div class="copy">
              <a href="/user/login">©</a> {{ "now"|date("Y") }}.
              Все права защищены.
            </div>
            {{ page.footer }}
          </div>
          <!--div class="col-sm-4"><a id="synapse-drupal"
            href="http://synapse-studio.ru/drupal"
            title="Сайт работает на CMS Drupal">Работает на <span>Drupal</span></a>
          </div-->
          <div class="col-lg-6 col-md-5 text-md-right text-xs-center">
            <div class="synapse">
                <div class="synapse-copy" title="Создание сайтов в Вологде">
                    <img class="synapse-copy__logo" width="79px" height="24px" alt="Синапс" src="/themes/adaptive/images/synapse-footer-w.svg">
                    —
                    <a href="http://synapse-studio.ru/zakazat-sozdanie-saita" target="_blank" class="synapse-copy__link">Создание сайта</a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <div class="custom-messages">
    {{ page.bottom }}
  </div>
</div>
{#
/**
 * @file
 * Syanpse adaptive theme.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * @see adaptive.info.yml
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
